.Login {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
 
  .Logo-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
.formContainer {
    background-color: aquamarine;
    width: 30%;
    
}